<div class="container">
    <br>
    <h1>Sobre a ONG</h1>
    <br>
    <h1>Quem somos</h1>
    <br>
    <p>Walker Almeida</p>
    <p>Diogo Oliveira</p>


    <form action="/api/v1/pet/create" method="post" enctype="multipart/form-data">
    Select image to upload:
    <input type="file" name="file" id="file">
    <input type="text" name="tipo" id="tipo">
    <input type="submit" value="Upload Image" name="submit">
</form>
</div>