<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Sobre a ONG</h1>
            <br>
            <p class="text-justify">A Pet-me é uma ONG (Organização Não Governamental), sem fins lucrativos, e que nasceu de um grande
                sonho do seus dois fundadores: tirar o maior número possível de animais das ruas, dar tratamento
                adequado e integrá-los a famílias que lhes deem amor, carinho e uma vida digna. Mas, chegar até aqui,
                não foi fácil. Há quatro meses atrás, no início de 2019, o que era sonho começou a se tornar realidade.</p>
        </div>
    </div>
</div>