
            <div class="col-md-12">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
          style="width: 500px; height: 500px;" src="/image/dog.png" data-holder-rendered="true">
      </div>
        </div>

<div class="center-notfound">
<div class="container">

     
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
            </div>
     
    </div>
</div></div>