<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Missão</h1>
      <br>
      <h5><b>Resgatar</b></h5>
      <p class="text-justify">Recolher para local limpo e seguro o animalzinho, que, na maioria das vezes, está com sua
        saúde debilitada, por
        conta das carências todas que sofre nas ruas. Com toda a nossa capacidade instalada tomada, esta parte fica
        comprometida com os já resgatados e aguardando apenas adoção. Mas, mesmo assim, dependendo da urgência, ainda
        prestamos socorro.</p>

      <br>
      <h5><b>Cuidar</b></h5>
      <p class="text-justify">A maioria deles nos chegam em estado de desnutrição, alta infestação de vermes, parasitas,
        algumas vezes com
        sarna, enfim, doenças que são resultado de sua queda de resistência pelos maus cuidados das ruas . Prontamente,
        levamos o animalzinho a uma consulta veterinária para que seja avaliada a melhor maneira de recuperar sua saúde.
        Muitos casos podem ter que envolver cirurgias, em casos de atropelamento, por exemplo. Vermifugação é o
        procedimento básico e inicial para começar a cuidar de sua saúde.</p>

      <br>
      <h5><b>Vacinar</b></h5>
      <p class="text-justify">Uma vez vermifugado e livre dos parasitas, é a hora de vacinar o cãozinho. Apenas um
        profissional veterinário é
        capacitado a analisar se o caozinho pode ser vacinado, pois sua saúde deve estar em dia. A vacina é o único meio
        de mantê-lo protegido da doenças fatais. Quando filhotes, são necessárias 3 doses e depois, quando adultos,
        deverão ser renovadas anualmente.</p>

      <br>
      <h5><b>Castrar</b></h5>
      <p class="text-justify">Todos os nossos animais são doados castrados, sejam de raça pura, mestiços ou os SRDs,
        (sem raça definida),
        como corretamente são chamados os vira-latinhas. Esta é uma das partes mais importantes de nosso trabalho.
        Entendemos que a CASTRAÇÃO é a única forma de controlar a multiplicação desenfreada destes animais. Ela sim é
        uma solução digna aos animais de rua e NÃO A CONDENAÇÃO A MORTE PRATICADA PELOS CCZs.
        Muitas vezes auxiliamos famílias que não possuíam esta consciência lhes esclarecendo sobre este importante item,
        castrando seus animais.
        A castração não livra o animal apenas de uma gravidez indesejada, no caso de fêmeas que muitas vezes são
        abandonadas justamente porque estão grávidas.
        Ela também o protege de várias doenças que, se não diagnosticadas a tempo, levam os bichinhos a óbito. Como por
        exemplo: piometra (infecção uterina nas cadelas), câncer de mama, câncer de próstata (no caso de cachorros
        machos).</p>

      <br>
      <h5><b>Doar</b></h5>
      <p class="text-justify">Esta é a conclusão de todo nosso trabalho, que começou lá atrás com o reestabelecimento da
        saúde do bichinho. E
        o que fecha com chave-de-ouro nossa missão é ter uma vida que, de início estava ameaçada de não existir mais, e
        vê-la forte, feliz e protegida, tendo uma segunda chance ao lado de uma família. Não acreditamos em abrigo como
        depósito de animais. Todos nossos animais estão para adoção. É claro que seguimos um critério para esta adoção,
        pois o que desejamos é a felicidade e harmonia entre o cãozinho e sua nova família e algumas coisas são básicas
        para garantir isso. Acreditamos que somos necessárias na vida deles por um tempo, como se fôssemos uma ponte,
        até que chegue sua verdadeira família.
        Eu cuidei dele PARA VOCÊ! Até que VOCÊ chegasse! Eu posso contar, escrever sobre a história do bichinho até
        hoje, mas daqui por diante, os novos capítulos de felicidade serão escritos pelas famílias adotantes. Assim
        esperamos e trabalhamos para que seja.
      </p>

    </div>
  </div>
</div>