  <div class="container">
  <section class="Session-03">
 <br>
    <h1>Meus Pets para Adoção:</h1>
    <br>
    <div class="listPets">

      {{#each myPetsResult}}

      {{>myPets}}

      {{/each}}
    </div>

  </section></div>