<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h1 class="my-4">Page Heading
        <small>Secondary Text</small>
      </h1>

      <!-- Blog Post -->
      <div class="card mb-4">
        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">Nome do PET</h2>
          <p class="card-text">
            <ul>
              <li>Raça</li>
              <li>Sexo</li>
              <li>Tamanho</li>
              <li>Idade</li>
              <li>Cidade -- Estado -- CEP</li>
            </ul>
          </p>
          <a href="#" class="btn btn-primary">Adotar &rarr;</a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>