<div class="container">
  <br>
  <div class="container pt-3">
    <div class="row justify-content-sm-center">
      <div class="col-sm-6 col-md-4">
        <div class="card border-info text-center">
          <div class="card-header">
            Pet-me
          </div>
          <div class="card-body">
            <img class="mr-3"
              src="/image/Mail-Send-icon.png" width="20%"
              alt="Generic placeholder image">
            <br><br>
            <form action="/api/v1/login/login" method="POST" class="form-signin">
             
                <div>
                <h5>Um link foi enviado no email: {{resultSplitEmail}}</h5>
                </div>
          
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>

</div>