  <div class="row" >
<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <img class="card-img-top"
      src="{{this.url}}" alt="">
    <div class="card-body">
      <h5><b>Nome: {{this.nome}}</b></h5>
      <p class="card-text">Raça: {{this.raca}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">Sexo</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Idade</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Tamanho</button>
        </div>
      </div>
    </div>
    </div>